body {
    max-width: 90%;
    max-height: 70%;
    margin: 0 auto;
    background-color:rgb(40, 45, 49);
    color: aliceblue;
}

div {
    border: 0px solid blue;
}

.main-wrapper > h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

@keyframes fadeaway {
    0%  { box-shadow: 14px 14px 7px 3px rgba(0, 0, 255, .2); }
    100%    { box-shadow: 2px 2px 1px 1px rgba(0, 0, 255, .2); }
}

.art-wrapper {
    max-height: 100%;
    max-width: fit-content;
    padding: 10px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    border: 0px solid;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 255, .2);
}

.art-wrapper:hover {
    animation-name: fadeaway;
    animation-duration: 1s;
}

.history-wrapper {
    padding: 10px;
    position: absolute;
    height: 300px;
    width: 300px;
}

li {
    list-style: none;
    text-align: left;
}

.content > img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 400px;
    max-width: 600px;
}